<div class="view">
  <app-home></app-home>
<div class="dashboard" >    
        
  <div class="sidebar">
    
    <div class="sidebar-scroller">
      <div class="nano has-scollbar">
        <div class="nano-content" style="right: -17px">
          
         <div class="sidebar-content">
           
           <div class="resource-group newtemplate"> 
             <div class="btn-group sidebar-add-btn-group dropdown" style="position: relative;">
               <a class="btn btn-success sidebar-add-btn dropdown-toggle" data-toggle="modal" data-target="#exampleModal"  style="background-color: #1BC98E;width: 250px;text-align:left;font-size: 17px">
                   <i class="fa fa-plus"></i>
                   New...
               </a>
             </div>          
          </div>
          <div class="resource-group"> 
            <div class="resource-group item">
              <div class="btn-group sidebar-add-btn-group" style="position: relative;">
                <a (click)="getTemplates()" class="btn btn-success sidebar-add-btn movingbutton" style="background-color: white;width: 250px;text-align:left;color:black;border-color:silver;font-size: 17px">
                    <i class="fa fa-user" style="color:black"></i>
                    Invite members...
                </a>
              </div>  
            </div>        
           </div>
           <div class="resource-group"> 
              <div class="resource-group item">
                <div class="input-search">
                <input placeholder="Search..." class="form-control" style="width: 250px;"/>
              </div>
              </div>        
             </div>
             <div class="resource-group"> 
              <div class="resource-group item">
                </div>
             </div>
             <div class="resource-group"> 
              <div class="resource-group item">
                <a href="/dashboard" class="btn btn-transparent sidebar-home-btn" style="width: 250px;height: 38px;text-align: left;font-size: 17px;"> 
                  <i class="fa fa-home" style="color:silver"></i> <span style="color: silver;padding-left:10px">Home</span>  </a>
              </div>        
             </div>
             <div class="resource-group"> 
              <div class="resource-group item">
                <a href="/form" class="btn btn-transparent sidebar-home-btn" style="width: 250px;height: 38px;text-align: left;font-size: 17px;"> 
                  <i class="far fa-edit" style="color:silver"></i> <span style="color: silver;padding-left:10px">Form</span>  </a>
              </div>        
             </div>
         </div>
     
        </div>
      </div>
    </div>
 
 </div>
 
 <div class="maincontent" >
    <div class="sidebarright">
      <div class="subnavigatebar " > <a href="/dashboard" > 
         <i  class="fa fa-home" style="font-size: 20px;color:silver" ></i><span class="homecoming"> Home</span> </a></div>
     
     <!-- template here -->
     <ng-container *ngFor="let template of listTemplate">     
     <div >
     <div class="sub-header"> <span class="text-nowrap">
      <a (click)="template.Show=!template.Show"      
        class="btn btn-transparent sub-header-toggle-btn"> 
        <i style="color:#777777"
         class="fa fa-minus" *ngIf="template.Show==true">
       </i> 
       <i style="color:#777777"
       class="fa fa-plus" *ngIf="template.Show==false">
     </i> 
       </a> 
  
       <a href="/edit/{{template.id}}" 
         class="btn btn-transparent sub-header-title-btn">
         <!-- when we have template -->
          <span  style=" color: #777777;"> {{template.name}}
          </span> <span 
           class="badge sub-header-title-btn-count">{{template.countChecklist}}</span> </a> 
         </span> <!-- ngIf: $ctrl.template.public -->
            <a href="" title="Click to edit this template." 
            class="btn btn-transparent sub-header-manage-btn">           
             </a> 
           </div >        
               <div  class="eachtemplate" *ngIf="template.Show==true">   
                 <ng-container *ngFor="let item of listChecklist;let i = index">
                  <ng-container *ngIf="template.id===item.templateId">           
                  <div class="cards" style="float:left">
                <a href="/checklist/{{item.id}}"  class="card" title="Click to view this checklist." >
                    <div class="card-inner">
                      <div class="card-detail">
                          <span class="card-details-title" style="width: 200px">
                              {{item.name}}
                            </span>
                        <ul class="assignments">
                         
                          <li>
                            <img [src]="imageUrl" style="width: 35px;height: 35px;border-radius: 15%"/>

                          </li>
                        </ul>
                        <div class="progress" style="height: 10px;">
                            <div class="progress-bar" role="progressbar" style="background-color: greenyellow" [style.width]="item.countTask" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>                                     
                      </div>
                    </div>
                </a>

              </div>   
            </ng-container>  
          </ng-container>         
              </div>                     
            </div>
       </ng-container>


    </div>
 
  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"  id="exampleModalLabel">
          What should this new template be called ? 
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span style="font-size: 18px;">
            This template will be created in the folder Home.
        </span>
  
        <div class="input-search">
          <input placeholder="Blank template..." [(ngModel)]="templateName" class="form-control" style="width: 500px;"/>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="newTemplate()">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
</div>