<button (click)="addImage()">ADD IMAGE</button>
<button (click)="addInput()">ADD INPUT</button>
<label>{{UserId}}</label>

<form>
  <div *ngFor="let item of checkList">
	  <div *ngIf="item.type === 'input'" >

	 <div>

	
    <input name={{item.id}} [(ngModel)]="item.text"/>

</div>
<div>
	<button class="btn btn-success">OK</button>
</div>
</div>
<div *ngIf="item.type === 'image'" >

		<div>
   
	   
	
	   <img [src]="item.src" *ngIf="item.type === 'image'"  />
   </div>
   <div>
	   <button class="btn btn-success">OK</button>
   </div>
   </div>
  
  </div>
</form>


