<div class="view">
    <app-home></app-home>
    <div class="content">
      <div class="future-checklist">
        <div class="container">
          <h2 class="header">{{name}}</h2>
          <h3 class="organization">Admin of <span style="color:brown">{{organizationName}}</span></h3>
          <hr class="line">
          <p class="description">
            <b><i class="far fa-lightbulb"></i> Acvitity:</b>
            You can check your log work here 
              
          </p>
         
         
            <div class="groupform" *ngFor="let activity of this.listActivity" >
              <div class="groupform2">
                <div class="form-group" style="padding-top:20px;">
                  <img class="col-sm-3 control-label createform" [src]="imageUrl" style="height: 30px;width: 70px;padding-top:0px;"/>
                  <div class="col-sm-8 inputform"> <label name="Title" *ngIf="activity.templateId.length===0"
                      style="width:80%">
                     {{name}} created template {{activity.name}} at {{activity.timeCreated}}
                      </label>
                      <label name="Title" *ngIf="activity.templateId.length!==0"
                      style="width:80%">
                     {{name}} created checklist {{activity.name}} at {{activity.timeCreated}}
                      </label>
                  </div>
                </div>   
                <div class="form-group" style="padding-top:20px;">
                </div>
                
              </div>
            </div>
  
         
        </div>
      </div>
    </div>
  </div>