<div class="view">
    <app-home></app-home>
   
  <div class="dashboard" >    
          
    <div class="sidebar">
      
      <div class="sidebar-scroller">
        <div class="nano has-scollbar">
          <div class="nano-content" style="right: -17px">
            
           <div class="sidebar-content">
             <div class="steps">
  
          
                   <div class="editor-breadcrumb" > 
                     <span  >
                        <a href="/dashboard"
                         
                         class="btn btn-transparent btn-sm editor-breadcrumb-segment">
                          <i class="fa fa-home" >
  
                        </i> <span data-ng-bind="segment.model.name" style="font-size:15px;" > Home</span> </a>
                   
                     </span>
                        
               
                  </div>
                  <div class="steps-header"> 
                    <h3 style="color:#777777">
                    <Strong>{{templateName}}</Strong>  
                    </h3>
  
                   
                  </div>
                  <div class="listchecklist">
                    <div class="steps-list checklist-steps-list">
                      <ul class="list-group"> <!-- loop here -->
                        <li *ngFor="let task of listTaskItem;let i = index" class="list-group-item step checkable " style="height: 50px;">
                          <div class="task-list-item" >
                            <a href="/template/{{task.id}}" (click)="setList()">

                       
                              <span class="step-number-container"> <span  class="step-number">{{i+1}}</span> 
                              <span class="step-grip"></span>  </span>
                            </a>               
                            
                                  <textarea name={{task.priority}} [(ngModel)]="task.name" style="padding-left:50px;" rows="1" class="form-control"></textarea>                           
                          </div>
  
                        </li>
                
                        
                        
  
                      </ul>
                      
  
                    </div>             
                  </div>
                </div>
                
           </div>
       
          </div>
        </div>
      </div>
   
   </div>

   <div class="maincontent  widgets-scroller" >
    

  
      <div class="sidebarright" >
        <div class="widgets-header-container">
           <h3  class="widgets-header"  >
             <strong>sdasdasd</strong>
            </h3>
        
          </div>
          
      
          <hr style="width: 90%;margin-left:120px;color:1px solid black">
       <!-- template here -->

       
       <div class="task-bar-container">
         <div class="task-bar-inner" style="margin-left:100px">
           <div class="task-bar-template-cell">
              <div class="template-task-assigner">
                <div class="dropdown">
                    <button type="button" class="btn btn-transparent" data-toggle="dropdown"> 
                      <i class="far fa-user fa-fw" style="font-size: 19px"></i> <span style="font-size: 18px" class="hidden-sm hidden-xs"> Assign</span>
                    
                    </button>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header" style="border-bottom: 1px solid silver"> <i class="far fa-user fa-fw"></i> USERS</li>
                     
                      <li *ngFor="let user of listUser;let i = index"><a id={{user.id}} name={{user.name}} (click)="addMemberToTask(user)"><img src={{user.avatar}} style="width: 25px;height: 25px;border-radius: 15%"/> {{user.name}}</a></li>
                                       
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn btn-transparent" (click)="showTime=!showTime"> 
                      <i class="far fa-clock fa-fw" style="font-size: 19px"></i> <span style="font-size: 18px" class="hidden-sm hidden-xs"> Due</span> </button>
                   
                </div>

                <div *ngIf="showTime==true">                    
                    <div class="row" style="width: 150px;">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1' style="width: 200px;margin-top:2px;">
                                    <input type='text' id="valueOfdate" class="form-control" [owlDateTime]="dt" name="datetime" [(ngModel)]="datetime" />
                                    <span class="input-group-addon" >
                                        <span class="glyphicon glyphicon-calendar"  [owlDateTimeTrigger]="dt"></span>
                                    </span>
                                    <owl-date-time #dt ></owl-date-time>                             
                                </div>
                            </div>
                        </div>
                  
                    </div>
                </div>
                
     
                <div style="margin-left:100px;" class="dropdown">
                    <button type="button" class="btn btn-transparent" data-toggle="dropdown"> 
                      <i class="fas fa-users" style="font-size: 19px"></i> <span style="font-size: 18px" class="hidden-sm hidden-xs"> Member</span> </button>
                      <ul class="dropdown-menu">
                        <li class="dropdown-header" style="border-bottom: 1px solid silver"> <i class="far fa-user fa-fw"></i> MEMBERS</li>
                       
                        <li *ngFor="let user of listMember;let i = index"><a id={{user.id}} name={{user.name}} (click)="addMemberToTask(user)"><img src={{user.avatar}} style="width: 25px;height: 25px;border-radius: 15%"/> {{user.name}}</a></li>
                                         
                      </ul>
                </div>



                </div>
             <div style="margin-top:50px">

             </div>
             <div *ngFor="let content of listContentDetail">
                    
                <div class="template-task-assigner" *ngIf="content.type==='text'">
                    <div class="resource-group"> 
                        <div class="resource-group item">
                          <div class="input-search">
                          <input id={{content.orderContent}} name={{content.orderContent}}  placeholder="Text..." class="form-control" style="width: 550px;"/>
                          
                        </div>
                 
                        <div style="margin-top:5px">
                         <button class="btn btn-success" (click)="removeComponent(content.id)">X</button>
                        </div>
                        </div>        
                       </div>  
                    </div>
                    <div class="template-task-assigner" *ngIf="content.type === 'img' ">
                        <div class="resource-group"> 
                            <div class="resource-group item">
                              <div class="input-search">
                                  <img src="assets/img/default-2.jpg"  id={{content.orderContent}} name={{content.orderContent}} *ngIf="content.type==='img'" style="width: 550px;height: 300px;"/>

                              
                            </div>
                      
                            <div style="margin-top:5px">
                             <button class="btn btn-success" (click)="removeComponent(content.id)">X</button>
                            </div>
                            </div>        
                           </div>  
                        </div>
                        <div class="template-task-assigner" *ngIf="content.type === 'checkbox-label' ">
                            <div class="resource-group"> 
                                <div class="resource-group item">
                                  <div class="input-search">
                                 <input name={{content.orderContent}}  id={{content.orderContent}} type="checkbox" placeholder="Text..." class="form-controlx"  style="width: 35px;"/>   sdasd
                                  
                                  
                                </div>
                  
                                <div style="margin-top:5px">
                                 <button class="btn btn-success"(click)="removeComponent(content.id)" >X</button>
                                </div>
                                </div>        
                               </div>  
                            </div>
              
            
               
                          </div>
                    

                

           </div>

         </div>

     
          
        
  

       </div>


      </div>

      
      
    
   
    </div>
    <div>

    </div>
    <div class="rightside">
        <div class="rightsubnavigate">
            <div class="rightsidebar shadow p-3 mb-5 bg-white rounded">
      
                <div class="sidebar-scroller">
                  <div class="nano has-scollbar">
                    <div class="nano-content" style="right: -17px">
                      
                     <div class="sidebar-content">
                       <div class="header">
                         <h2>
                           <strong> Blank Template</strong>
                          
                         </h2>
  
                       </div>
                       
                       <div class="resource-group newtemplate"> 
                         <div class="btn-group sidebar-add-btn-group dropdown" style="position: relative;">
                           <a class="btn btn-success sidebar-add-btn dropdown-toggle" (click)="save()" style="background-color: #1BC98E;width: 250px;text-align:left;font-size: 17px">
                              <i class="far fa-save"></i>
                               Save changes
                           </a>
                         </div>          
                      </div>
                      <div class="resource-group newtemplate"> 
                        <div class="btn-group sidebar-add-btn-group dropdown" style="position: relative;">
                          <a class="btn btn-success sidebar-add-btn dropdown-toggle" (click)="addTask()" style="width: 250px;text-align:left;font-size: 17px">
                             <i class="fa fa-tasks"></i>
                              More task
                          </a>
                        </div>          
                     </div>
                    
                       <div class="resource-group" > 
                          <div class="resource-group item">
                            <div class="btn-group sidebar-add-btn-group" style="position: relative;">
                              <!-- <a class="btn btn-success sidebar-add-btn movingbutton" data-toggle="modal" data-target="#exampleModal" style="background-color: white;width: 250px;text-align:left;color:black;border-color:silver;font-size: 17px">
                                  <i class="fa fa-pencil fa-fw" style="color: black"></i>
                                  More...
                              </a> -->
                            </div>
                          </div>        
                         </div>
                         <div class="resource-group"style="border-bottom:1px solid silver" > 
                          <div class="resource-group item">
                            </div>
                         </div>
                         <div class="resource-group"> 
                          <div class="resource-group item">
                            <a href="" class="btn btn-transparent sidebar-home-btn" style="width: 250px;height: 38px;text-align: left;font-size: 17px;"> 
                              <i class="fas fa-folder-open"></i> <span style="color: silver;padding-left:10px">Overview</span>  </a>
                          </div>        
                         </div>
                         <div class="resource-group" style="border-bottom:1px solid silver"> 
                          <div class="resource-group item">
                            <a href="/form" class="btn btn-transparent sidebar-home-btn" style="width: 250px;height: 38px;text-align: left;font-size: 17px;"> 
                              <i class="far fa-edit" style="color:silver"></i> <span style="color: silver;padding-left:10px">Template</span>  </a>
                          </div>        
                         </div>
                         <div class="resource-group"> 
                            <div class="resource-group item">
                              <a href="" class="btn btn-transparent sidebar-home-btn" style="width: 250px;height: 38px;text-align: left;font-size: 17px;"> 
                                <span style="color: #777777;padding-left:10px">Form Content</span>  </a>
                            </div>        
                           </div>
                         <div class="resource-group newtemplate"> 
                            <div class="btn-group sidebar-add-btn-group dropdown" style="position: relative;">
                              <a class="btn btn-success sidebar-add-btn dropdown-toggle" (click)="addText()" style="width: 250px;text-align:left;font-size: 17px">
                                <i class="fa fa-font"></i>
                                  Add Text
                              </a>
                            </div>          
                         </div>
                         <div class="resource-group newtemplate"> 
                            <div class="btn-group sidebar-add-btn-group dropdown" style="position: relative;">
                              <a class="btn btn-success sidebar-add-btn dropdown-toggle" (click)="addImage()" style="width: 250px;text-align:left;font-size: 17px">
                                <i class="far fa-image"></i>
                                  Add Image
                              </a>
                            </div>          
                         </div>
                         <div class="resource-group newtemplate"> 
                            <div class="btn-group sidebar-add-btn-group dropdown" style="position: relative;">
                              <a class="btn btn-success sidebar-add-btn dropdown-toggle" (click)="addCheckbox()" style="width: 250px;text-align:left;font-size: 17px">
                                <i class="far fa-check-square"></i>
                                  Add checkbox
                              </a>
                            </div>          
                         </div>
                     
                         
                         
                         
                     </div>
                     
                 
                    </div>
                  </div>
                </div>
             
             </div>
        </div>
      </div>
  
  </div>
  <!-- Button trigger modal -->
  
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">We are updating to serve you.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This feature will be comming soon...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
    
  
  </div>